@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  background: #cccccc;

  
}

/* Navbar */
.navbar-brand {
  color: #000000;
}

.navbar-brand:hover {
  color: #cccccc;
}
.navbar {
  background: #B7A4B3;
}
.navbar-icon {
  font-size: 2rem;
  color: black;
}
.navbar-toggler {
  outline-color: black !important ;
}
.nav-link {
  color: black;
  text-transform: capitalize;
}
.nav-link:hover {
  color: #cccccc;
  text-decoration: none !important;
}
.nav-icon {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  color: black;
  text-decoration: none !important;
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: linear;
}
.nav-icon:hover {
  color: #cccccc;
}

